.register {
 .step_one {
  input {
   text-align: center;
   border: 1px solid #a3a3a3;
  }

  select {
   border: 1px solid #a3a3a3;
  }

  ul {
   font-size: 0.85rem;
   list-style: none;
  }

  ._password-input,
  ._form-email-input-cont {
   position: relative;

   span {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5rem 0.5rem 0 0;
   }
  }

  .btn-container {
   .disabled-btn {
    background: #a3a3a3;
    border-color: #a3a3a3;
   }
  }
 }

 .step_two {
     input, select {
         border: 1px solid #929292;
         text-align: center;
     }
 }
}
